/* 
  Headings  font-family: "Playfair Display", serif;
  Text      font-family: "Jura", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: black #eee;
}
::-webkit-scrollbar {
  height: 6px;
  width: 12px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Jura", sans-serif;
  font-size: large;
}
hr {
  margin: 5px 0 5px 0;
}

#navguide {
  position: absolute;
  bottom: 3%;
  user-select: none;
  width: 100%;
  text-align: center;
  font-size: small !important;
  display: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(10, 100vw);
  grid-template-rows: 1fr;
  overflow: scroll;
  overflow-y: hidden;
  height: 100%;
  scroll-snap-type: both mandatory;

  /* scroll-padding: 1rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem; */
}
/* Below seems to only works on phone swipe events */
#home,
#portfolio,
#contact {
  scroll-snap-stop: always;
}
.active {
  scroll-snap-type: unset;
}

li {
  scroll-snap-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 3px; */
}

#portfolioItems {
  display: grid;
  grid-template-areas: ".. .. ..";
  /* background: black; */
  grid-gap: 15px;
}
.portfolioItem {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: #98b2d0; */
  background: #eee;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 0px #000000;
  box-shadow: 0px 0px 3px 0px #000000;
}

.detailcontainer {
  position: relative;
  margin: 5px;
  padding: 5px;
  max-width: 600px;
  flex-direction: column;
  background: #eee;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #000000;
}
.projectHeader {
  text-align: center;
  text-decoration: underline;
}
.projectSubhead {
  font-weight: bold;
  margin-bottom: 5px;
}
.detailcontainer a {
  text-decoration: none;
  margin-bottom: 5px;
}
.livelink,
.repolink {
  max-width: max-content;
}

.resetButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto 1% 1% auto;
  min-width: max-content;
  padding: 0 10px 0 10px;
  box-shadow: 0px 0px 1px 0px #000;
  border: 1px solid black;
  border-radius: 10px;
}

#contact p {
  margin: 10px;
}

/* @media only screen and (min-width: 768px) {
  #portfolioItems {
    grid-gap: 15px;
  }
} */
